<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.3.5" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.1.4.1" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.1.1.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.3.5" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.1.0.2" targetFramework="net45" />
  <package id="Conditions" version="2.0.0" allowedVersions="[2.0.0]" targetFramework="net461" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="FluentMigrator" version="1.6.1" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.6.1" targetFramework="net45" />
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package id="Naos.AWS.Contract" version="1.0.37" targetFramework="net45" />
  <package id="Naos.AWS.Core" version="1.0.37" targetFramework="net45" />
  <package id="Naos.Cron" version="1.0.14" targetFramework="net461" />
  <package id="Naos.Database.Contract" version="1.0.110-csharp4dot6andnewmes" targetFramework="net461" />
  <package id="Naos.Database.Migrator" version="1.0.110-csharp4dot6andnewmes" targetFramework="net461" />
  <package id="Naos.Database.Tools" version="1.0.110-csharp4dot6andnewmes" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.6" targetFramework="net461" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.0" targetFramework="net45" />
  <package id="Naos.MessageBus.Domain" version="1.0.177-addseparatejobtracki" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.14" targetFramework="net461" />
  <package id="Naos.Packaging.NuGet" version="1.0.14" targetFramework="net461" />
  <package id="Naos.WinRM" version="1.0.30" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NuGet.Client" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Commands" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Configuration" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ContentModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="NuGet.DependencyResolver" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.DependencyResolver.Core" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.LibraryModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Logging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.PackageManagement" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ProjectModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.Types" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v2" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v3" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Repositories" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Resolver" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.RuntimeModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.3.0" targetFramework="net45" />
  <package id="Spritely.ReadModel" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.ReadModel.Mongo" version="0.5.1" targetFramework="net45" />
</packages>