<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.10.0" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.1.19.1" targetFramework="net461" />
  <package id="AWSSDK.Route53" version="3.1.5.2" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.1.9.0" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.1.4.5" targetFramework="net461" />
  <package id="Conditions" version="2.1.0" targetFramework="net461" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net461" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net461" />
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net461" />
  <package id="Naos.AWS.Contract" version="1.0.38" targetFramework="net461" />
  <package id="Naos.AWS.Core" version="1.0.38" targetFramework="net461" />
  <package id="Naos.Cron" version="1.0.14" targetFramework="net461" />
  <package id="Naos.Database.Contract" version="1.0.131" targetFramework="net461" />
  <package id="Naos.Database.Migrator" version="1.0.131" targetFramework="net461" />
  <package id="Naos.Database.Tools" version="1.0.131" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.6" targetFramework="net461" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.1" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.210" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.25" targetFramework="net461" />
  <package id="Naos.Packaging.NuGet" version="1.0.25" targetFramework="net461" />
  <package id="Naos.WinRM" version="1.0.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Reflection" version="1.0.11" targetFramework="net461" />
  <package id="Spritely.ReadModel" version="0.6.0" targetFramework="net461" />
  <package id="Spritely.ReadModel.Mongo" version="0.6.0" targetFramework="net461" />
</packages>