<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="Naos.Cron" version="1.0.14" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.6" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.207" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.25" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Spritely.Recipes.CamelStrictConstructorContractResolver" version="0.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.InheritedTypeJsonConverter" version="0.8.0" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.JsonConfiguration" version="0.14.2" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureStringJsonConverter" version="0.4.0" targetFramework="net461" developmentDependency="true" />
</packages>