<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.47.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Build.Conventions.ReSharper" version="1.47.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Cron" version="1.0.15" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.8" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.231" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.32" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.DateTime" version="1.0.3" targetFramework="net461" />
  <package id="OBeautifulCode.Math.HashCodeHelper" version="1.0.52" targetFramework="net461" developmentDependency="true" />
  <package id="OBeautifulCode.TypeRepresentation" version="1.0.3" targetFramework="net461" />
  <package id="Spritely.Recipes.CamelStrictConstructorContractResolver" version="0.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.InheritedTypeJsonConverter" version="0.9.1" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.JsonConfiguration" version="0.15.1" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="1.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureStringJsonConverter" version="0.4.1" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
</packages>