<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.47.0" targetFramework="net45" />
  <package id="CLAP" version="4.6" targetFramework="net45" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Its.Configuration" version="0.10.1" targetFramework="net45" />
  <package id="Naos.AWS.Contract" version="1.0.10" targetFramework="net45" />
  <package id="Naos.AWS.Core" version="1.0.10" targetFramework="net45" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.0" targetFramework="net45" />
  <package id="Naos.MessageBus.DataContract" version="1.0.65" targetFramework="net45" />
  <package id="Naos.MessageBus.HandlingContract" version="1.0.65" targetFramework="net45" />
  <package id="Naos.WinRM" version="1.0.23" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="OBeautifulCode.Libs.Collections" version="1.0.3" targetFramework="net45" />
  <package id="OBeautifulCode.Libs.String" version="1.0.5" targetFramework="net45" />
</packages>