<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.3.5" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.1.4.1" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.1.1.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.3.5" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.1.0.2" targetFramework="net45" />
  <package id="CLAP" version="4.6" targetFramework="net45" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package id="Naos.AWS.Contract" version="1.0.37" targetFramework="net45" />
  <package id="Naos.AWS.Core" version="1.0.37" targetFramework="net45" />
  <package id="Naos.Cron" version="1.0.10" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.2" targetFramework="net461" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.0" targetFramework="net45" />
  <package id="Naos.MessageBus.Domain" version="1.0.158-addseparatejobtracki" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.11" targetFramework="net45" />
  <package id="Naos.WinRM" version="1.0.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="OBeautifulCode.Libs.Collections" version="1.0.3" targetFramework="net45" />
  <package id="OBeautifulCode.Libs.String" version="1.0.5" targetFramework="net45" />
  <package id="Spritely.ReadModel" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.ReadModel.Mongo" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.Recipes.Functional" version="0.2.5" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.InheritedTypeJsonConverter" version="0.5.1" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.JsonConfiguration" version="0.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="0.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureStringJsonConverter" version="0.3.1" targetFramework="net461" developmentDependency="true" />
</packages>