<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.3.40" targetFramework="net461" />
  <package id="AWSSDK.Route53" version="3.3.11" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.3" targetFramework="net461" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="Naos.AWS.Core" version="1.0.52" targetFramework="net461" />
  <package id="Naos.AWS.Domain" version="1.0.52" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Build.Conventions.ReSharper" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Packaging.Domain" version="1.0.41" targetFramework="net461" />
  <package id="Naos.Recipes.RunWithRetry" version="1.0.104" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.14" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
</packages>