<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.32.2" targetFramework="net462" />
  <package id="AWSSDK.EC2" version="3.3.85.3" targetFramework="net462" />
  <package id="AWSSDK.Route53" version="3.3.18.22" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.31.24" targetFramework="net462" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.58" targetFramework="net462" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="Naos.AWS.Core" version="1.0.59" targetFramework="net462" />
  <package id="Naos.AWS.Domain" version="1.0.59" targetFramework="net462" />
  <package id="Naos.Build.Analyzers" version="1.55.23" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Packaging.Domain" version="1.0.51" targetFramework="net462" />
  <package id="Naos.Recipes.RunWithRetry" version="1.0.122" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.19" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.39" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>