<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net461" />
  <package id="Its.Configuration" version="1.0.6" targetFramework="net461" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Build.Conventions.ReSharper" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Compression.Domain" version="1.0.9" targetFramework="net462" />
  <package id="Naos.Cron" version="1.0.15" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.2.13" targetFramework="net462" />
  <package id="Naos.Logging.Domain" version="1.0.27" targetFramework="net462" />
  <package id="Naos.MessageBus.Domain" version="1.1.48" targetFramework="net462" />
  <package id="Naos.Packaging.Domain" version="1.0.41" targetFramework="net461" />
  <package id="Naos.Packaging.NuGet" version="1.0.41" targetFramework="net461" />
  <package id="Naos.Recipes.Configuration.Setup" version="1.0.96" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.TupleInitializers" version="1.0.96" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Serialization.Bson" version="1.0.52" targetFramework="net462" />
  <package id="Naos.Serialization.Domain" version="1.0.52" targetFramework="net462" />
  <package id="Naos.Serialization.Factory" version="1.0.52" targetFramework="net462" />
  <package id="Naos.Serialization.Json" version="1.0.52" targetFramework="net462" />
  <package id="Naos.Serialization.PropertyBag" version="1.0.52" targetFramework="net462" />
  <package id="Naos.Telemetry.Domain" version="1.0.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.21" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.DateTime" version="1.0.6" targetFramework="net462" />
  <package id="OBeautifulCode.Security.Recipes.CertHelper" version="1.0.27" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.32" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.TypeRepresentation" version="1.0.15" targetFramework="net462" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.14" targetFramework="net462" developmentDependency="true" />
  <package id="Spritely.ReadModel" version="0.6.4" targetFramework="net461" />
  <package id="Spritely.ReadModel.Mongo" version="0.6.4" targetFramework="net461" />
  <package id="Spritely.Recipes.SecureString" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
  <package id="xunit" version="2.1.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
  <package id="xunit.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
</packages>