<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package id="Naos.Cron" version="1.0.14" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.6" targetFramework="net461" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.1" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.183" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.17" targetFramework="net461" />
  <package id="Naos.WinRM" version="1.0.30" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="Spritely.ReadModel" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.ReadModel.Mongo" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.Recipes.Functional" version="0.2.5" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="0.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="xunit" version="2.1.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
  <package id="xunit.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
</packages>