<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.1.1" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.1.1.0" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.1.0.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.2.1" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.1.0.1" targetFramework="net45" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Its.Log" version="2.8.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Naos.AWS.Contract" version="1.0.16" targetFramework="net45" />
  <package id="Naos.AWS.Core" version="1.0.16" targetFramework="net45" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.0" targetFramework="net45" />
  <package id="Naos.MessageBus.DataContract" version="1.0.75" targetFramework="net45" />
  <package id="Naos.WinRM" version="1.0.26" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.6" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
</packages>