<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package id="Naos.Packaging.Domain" version="1.0.12" targetFramework="net461" />
  <package id="Spritely.ReadModel" version="0.5.1" targetFramework="net45" />
  <package id="Spritely.ReadModel.Mongo" version="0.5.1" targetFramework="net45" />
</packages>