<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net461" />
  <package id="Naos.Packaging.Domain" version="1.0.26" targetFramework="net461" />
  <package id="Spritely.ReadModel" version="0.6.0" targetFramework="net461" />
  <package id="Spritely.ReadModel.Mongo" version="0.6.0" targetFramework="net461" />
</packages>