<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Its.Configuration" version="1.0.6" targetFramework="net45" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="Naos.AWS.Contract" version="1.0.37" targetFramework="net45" />
  <package id="Naos.Cron" version="1.0.10" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.2" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.135-addseparatejobtracki" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>