<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net461" />
  <package id="Naos.Bootstrapper.Recipes.Core" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Core.Assembly" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.General.Assembly" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Analyzers" version="1.55.31" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Cron" version="1.0.24" targetFramework="net462" />
  <package id="Naos.Cron.Serialization.Bson" version="1.0.24" targetFramework="net462" />
  <package id="Naos.Cron.Serialization.Json" version="1.0.24" targetFramework="net462" />
  <package id="Naos.Diagnostics.Domain" version="1.3.32" targetFramework="net462" />
  <package id="Naos.Logging.Domain" version="1.0.72" targetFramework="net462" />
  <package id="Naos.MachineManagement.Domain" version="1.0.10" targetFramework="net462" />
  <package id="Naos.MessageBus.Domain" version="1.3.30" targetFramework="net462" />
  <package id="Naos.Packaging.Domain" version="1.0.54" targetFramework="net462" />
  <package id="Naos.Packaging.Serialization.Bson" version="1.0.54" targetFramework="net462" />
  <package id="Naos.Packaging.Serialization.Json" version="1.0.54" targetFramework="net462" />
  <package id="Naos.Telemetry.Domain" version="1.0.23" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.42" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Compression" version="1.0.14" targetFramework="net462" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.20" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Representation.System" version="1.0.49" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization" version="1.0.58" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Bson" version="1.0.58" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Json" version="1.0.58" targetFramework="net462" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.44" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.51" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.51" targetFramework="net462" developmentDependency="true" />
  <package id="Spritely.ReadModel" version="0.6.4" targetFramework="net461" />
  <package id="Spritely.ReadModel.Mongo" version="0.6.4" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
</packages>